* text=auto !eol
/Makefile -text
/apertium-mk-bg.bg-mk.t1x -text
/apertium-mk-bg.bg.dix -text
/apertium-mk-bg.mk-bg.dix -text
/apertium-mk-bg.mk-bg.t1x -text
/apertium-mk-bg.mk.dix -text
/bg-mk.prob -text
/mk-bg.prob -text
/modes.xml -text
