* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/Makefile -text
/apertium-mk-bg.bg-mk.t1x -text
/apertium-mk-bg.bg.acx -text
/apertium-mk-bg.bg.dix -text
/apertium-mk-bg.mk-bg.dix -text
/apertium-mk-bg.mk-bg.rlx -text
/apertium-mk-bg.mk-bg.t1x -text
/apertium-mk-bg.mk.acx -text
/apertium-mk-bg.mk.dix -text
/apertium-mk-bg.post-bg.dix -text
/apertium-mk-bg.post-mk.dix -text
/bg-mk.prob -text
dev/bg-full.dix -text
dev/eval/eval.bg-mk.2010-08-07 -text svneol=unset#application/octet-stream
dev/eval/eval.mk-bg.2010-08-07 -text svneol=unset#application/octet-stream
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.bg-mk -text
dev/mk-full.dix -text
dev/testvoc-summary.bg-mk.txt -text
dev/testvoc-summary.mk-bg.txt -text
dev/testvoc.sh -text
/mk-bg.prob -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
