* text=auto !eol
/Makefile -text
/apertium-mk-bg.bg-mk.t1x -text
/apertium-mk-bg.bg.dix -text
/apertium-mk-bg.mk-bg.dix -text
/apertium-mk-bg.mk-bg.t1x -text
/apertium-mk-bg.mk.dix -text
/bg-mk.prob -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.bg-mk -text
dev/interwiki.mk-bg -text
dev/testvoc-summary.txt -text
/mk-bg.prob -text
/modes.xml -text
